<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <!-- Angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"> </script>

    <!-- Sockets -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <link href="tweets.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">




    

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 20px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="TweetClicker", ng-controller="TweetCtrl">
    <meta charset="utf-8">

    <!-- Navigation -->
    

    <!-- Page Content -->
    <div class="container">

      
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2" color="black">
                <h4>Query</h4> 
                <input type="text", ng-model="search">
        </div>

        <div class="col-lg-2" color="black">
                <h4>Number of Tweets</h4> 
                <input type="number", ng-model="number">
        </div>

        <div class="col-lg-1">
            <h4><br></h4>
            <button ng-click="searchButton()">Load</button>
            
        </div>

    </div>

    

    <div class="row">
        <div class="col-lg-1"></div>

        <div class="col-lg-2" color="black">
            <h4>File Type</h4> 
            <select class="form-control" id="dropdown" ng-model="selectionType">
                <option>JSON</option>
                <option>CSV</option>
            </select> 
        </div>

        <div class="col-lg-1">
            <h4><br></h4>
            <button ng-click="sendExport()">Export</button>
        </div>
        
    </div>
  
    <hr>


    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3"><h4>{{output}}</h4></div>
        
    </div>

    


        
        

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    
    <script>
        var app = angular.module("TweetClicker", ["ngRoute"]);

        // Connection to server
        var socket = io.connect("http://localhost:3000/");

        // container for tweets
        var tweetBuffer = [];



        app.controller("TweetCtrl", function($scope, $http, $log) {

           

            // Receives Tweets from server
            socket.on("tweet", function(data){
                if (tweetBuffer.length < $scope.number){
                    tweetBuffer.push(data);
                    $scope.output = "Obtained " + tweetBuffer.length + " tweets";
                    $scope.$apply();
                }
                else {
                    socket.emit("stop");
                }
            });


            // Prints message when server has exported tweets
            socket.on("export", function(data){
                console.log("export");
                $scope.output = data.message;
                $scope.$apply();
                console.log($scope.output);
            });

             // Prints message when server has exported tweets
            socket.on("tweeterror", function(data){
                console.log("tweeterror");
                $scope.output = data.message;
                $scope.$apply();
                console.log($scope.output);
            });

            // Clears buffer and sends request to server
            $scope.searchButton = function(){
                if ($scope.number == null){
                    $scope.output = "Please enter a number in the 'Number of Tweets' field";
                }
                else{
                    $scope.output = "Waiting for tweets...";
                    tweetBuffer = [];
                    searchTerm = $scope.search;
                    socket.emit("message", {txt:"message text", search:searchTerm});
                } 
            }

            // Formats data and sends back to server
            $scope.sendExport = function(){
                var type = $scope.selectionType;
                var output = "";
                if (type == "JSON"){
                    output += "[\n";
                    for (t in tweetBuffer){
                        output += '{';
                        output += '\n\t"created_at": "' + tweetBuffer[t]["created_at"] + '"';
                        output += ',\n\t"id": "' + tweetBuffer[t]["id"] + '"';
                        output += ',\n\t"text": "' + tweetBuffer[t]["text"] + '"';
                        output += ',\n\t"user_id": "' + tweetBuffer[t]["user"]["id"] + '"';
                        output += ',\n\t"user_name": "' + tweetBuffer[t]["user"]["name"] + '"';
                        output += ',\n\t"user_screen_name": "' + tweetBuffer[t]["user"]["screen_name"] + '"';
                        output += ',\n\t"user_location": "' + tweetBuffer[t]["user"]["location"] + '"';
                        output += ',\n\t"user_followers_count": "' + tweetBuffer[t]["user"]["followers_count"] + '"';
                        output += ',\n\t"user_friends_count": "' + tweetBuffer[t]["user"]["friends_count"] + '"';
                        output += ',\n\t"user_created_at": "' + tweetBuffer[t]["user"]["created_at"] + '"';
                        output += ',\n\t"user_time_zone": "' + tweetBuffer[t]["user"]["time_zone"] + '"';
                        output += ',\n\t"user_profile_background_color": "' + tweetBuffer[t]["user"]["profile_background_color"] + '"';
                        output += ',\n\t"user_profile_image_url": "' + tweetBuffer[t]["user"]["profile_image_url"] + '"';
                        output += ',\n\t"geo": "' + tweetBuffer[t]["geo"] + '"';
                        output += ',\n\t"coordinates": "' + tweetBuffer[t]["coordinates"] + '"';
                        output += ',\n\t"place": "' + tweetBuffer[t]["place"] + '"';
                        output += ',\n},\n';
                    }
                    output += "]";
                    socket.emit("export", {filetype:type, text:output});
                }

                if (type == "CSV"){
                    output += '"created_at","id","text","user_id","user_name","user_screen_name","user_location","user_followers_count","user_friends_count","user_created_at","user_time_zone","user_profile_background_color","user_profile_image_url","geo","coordinates","place"\n';

                    for (t in tweetBuffer){
                        output += '\n"' + tweetBuffer[t]["created_at"] + '",';
                        output += '"' + tweetBuffer[t]["id"] + '",';
                        output += '"' + tweetBuffer[t]["text"] + '",';
                        output += '"' + tweetBuffer[t]["user"]["id"] + '",';
                        output += '"' + tweetBuffer[t]["user"]["name"] + '",';
                        output += '"' + tweetBuffer[t]["user"]["screen_name"] + '",';
                        output += '"' + tweetBuffer[t]["user"]["location"] + '",';
                        output += '"' + tweetBuffer[t]["user"]["followers_count"] + '",';
                        output += '"' + tweetBuffer[t]["user"]["friends_count"] + '",';
                        output += '"' + tweetBuffer[t]["user"]["created_at"] + '",';
                        output += '"' + tweetBuffer[t]["user"]["time_zone"] + '",';
                        output += '"' + tweetBuffer[t]["user"]["profile_background_color"] + '",';
                        output += '"' + tweetBuffer[t]["user"]["profile_image_url"] + '",';
                        output += '"' + tweetBuffer[t]["geo"] + '",';
                        output += '"' + tweetBuffer[t]["coordinates"] + '",';
                        output += '"' + tweetBuffer[t]["place"] + '"\n';
                    }
                    socket.emit("export", {filetype:type, text:output});
                }
                
            }
        });

    </script>

</body>

</html>

